/* For Editor */

.wp-block-lito-blogcard {
	position: relative;
	&.is-selected {
		z-index: 9999;
	}
}

.is-selected .litobc-search {
	display: block;
}

.litobc-search {
	display: none;

	&:not(:has(+ .litobc)) {
		display: block;
	}
}

.litobc-search-results {
	position: relative;
	box-shadow: 0 4px 8px -4px rgb(0 0 0 /20%);
	border-radius: 0.25rem;
	background-color: white;
	border: 1px solid var(--litob-border-base);
	max-height: 70svh;
	overflow: scroll;
}

.litobc-search-results-item {
	& > p {
		margin: 0;
		padding: 0.5rem 1rem;
		color: var(--litob-text-light);
		font-size: 0.75rem;
		border-bottom: 1px solid var(--litob-border-base);
	}

	& > ul {
		margin: 0;
		padding: 0;
		list-style: none;

		& > li {
			padding: 0.5rem 1rem;
			cursor: pointer;
			display: grid;

			&:hover {
				background-color: var(--litob-bg-base);
			}
		}
	}

	& + .litobc-search-results-item {
		border-top: 1px solid var(--litob-border-base);
	}
}

.litobc-search-results-title {
	font-weight: 600;
	font-size: 0.875rem;
}

.litobc-search-results-url {
	font-size: 0.625rem;
	color: var(--litob-text-light);
}

.wp-block-lito-blogcard:not(.is-selected) .litobc-search-results {
	display: none;
}

.litobc-input {
	padding: 0.5rem;
	border-radius: 0.375rem;
}

.litobc-link {
	display: none;

	.is-selected & {
		display: block;
	}

	& a {
		text-decoration: none;
		color: inherit;

		&:hover {
			color: inherit;
		}
	}
}

.litobc-footer {
	display: flex;
	justify-content: flex-end;
	margin-top: 0.5rem;
}

.litobc-item {
	margin-top: 0.5rem;
}

.cached-btn {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	font-size: 0.625rem;
}
