body {
	--litob-bg-base: #f1f1f7;
	--litob-text-base: #222227;
	--litob-text-light: #5b5b62;
	--litob-border-base: #e4e4e8;
}

.wp-block-lito-blogcard {
	container-type: inline-size;
}

.litobc {
	margin: 0;
}

.litobc-item {
	padding: 1em;
	display: flex;
	flex-direction: row-reverse;
	overflow: hidden;
	line-height: 1.5;
	background-color: white;
	border: 2px solid var(--litob-border-base);
	border-radius: 0.5rem;
	color: var(--litob-text-base);

	gap: 1.5rem;

	&:hover {
		text-decoration: none;
	}
}

.litobc-figure {
	flex-shrink: 0;
	margin-bottom: 0;

	& > img {
		object-fit: cover;
		width: 4rem;
		aspect-ratio: 1 / 1;
		border-radius: 0.25rem;
	}
}

.litobc-content {
	flex-grow: 1;
	display: grid;
	gap: 0.5rem;
}

.litobc-message {
	font-size: 0.875rem;
	color: var(--litob-text-light);
	margin-top: 0.25rem;
}

.litobc-title {
	font-weight: 700;
}

.litobc-description {
	/* stylelint-disable-next-line value-no-vendor-prefix */
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;

	font-size: 0.75rem;
	color: var(--litob-text-light);
}

.litobc-cite {
	display: flex;
	gap: 0.375rem;
	align-items: center;
	margin-top: 0.5rem;
}

.litobc-favicon {
	border-radius: 0.125rem;
}

.litobc-domain {
	font-size: 0.75rem;
	font-style: italic;
	color: var(--litob-text-light);

	&:hover {
		color: var(--litob-text-light);
	}
}

@container (768px <= width) {
	.litobc-item {
		padding: 1.5rem;
	}

	.litobc-figure > img {
		width: 5rem;
	}
}
